<html>
    <head>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700" rel="stylesheet">
    <link href="/assets/main.css" rel="stylesheet">
    </head>
    <body>
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-101912488-1', 'auto');
          ga('send', 'pageview');
        </script>
        <div id=header>
            <div id="main_title">
                        <a href="/">PUDDING SHIP</a>
            </div>
            <div>
                <div class="nav_item"><a href="/dm_vision">DM VISION</a></div>
                <div class="nav_item"><a href="/dm_ninja">DM NINJA</a></div>
                <div class="nav_item"><a href="/sb_oracle">SB ORACLE</a></div>
                <div class="nav_item"><a href="https://www.youtube.com/channel/UC151om_1jPRkAVy9xPEopcw">Youtube</a></div>
                <div class="nav_item"><a href="https://www.reddit.com/user/Pudding_Ship/">Reddit</a></div>
                <div class="nav_item"><a href="https://www.reddit.com/r/Starblastio/comments/5tpzna/sdf_soloist_defense_force/">Join SDF</a></div>
            </div>
        </div>
        <div id=main>