<html>
    <head>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700" rel="stylesheet">
    <link href="/assets/main.css" rel="stylesheet">
    </head>
    <body>
        <div id=header>
            <div id="main_title">
                        PUDDING SHIP
            </div>
            <div>
                <div class="nav_item"><a href="/dm_vision">DM VISION</a></div>
                <div class="nav_item"><a href="https://www.youtube.com/channel/UC151om_1jPRkAVy9xPEopcw">Youtube</a></div>
                <div class="nav_item"><a href="https://www.reddit.com/user/Pudding_Ship/">Reddit</a></div>
                <div class="nav_item"><a href="https://www.reddit.com/r/Starblastio/comments/5tpzna/sdf_soloist_defense_force/">Join SDF</a></div>
                <div class="nav_item"><a href="http://starblast.io">Play Starblast</a></div>
            </div>
        </div>
        <div id=main>